/* -------- Contact Style ------- */
/* #contact-form {
	margin: 0 auto;
}

.contact-section .contact-address p{
	margin-bottom: 25px;
}

.contact-section .contact-address ul li{
	padding-left: 40px;
	margin-bottom: 25px;
	font-size: 14px;
	position: relative;
}

.contact-section .contact-address ul li:last-child{
	margin-bottom: 0;
}

.contact-section .contact-address ul li i{
	position: absolute;
	font-size: 18px;
	left: 0;
	top: 3px;
	padding: 5px;
	width: 30px;
	text-align: center;
	height: 30px;
	border-radius: 50px;
}
.contact-section .contact-form .input-fields{
	margin-bottom: 20px;
}

.contact-section .contact-form .input-fields label{
	display: block;
	font-size: 14px;
	font-family: 'Raleway',cursive;
	font-weight: 400;
	margin-bottom: 10px;
}

.contact-section .contact-form .input-fields input{
	width: 100%;
	height: 60px;
	background-color: transparent;
	border: 1px solid #aaa !important;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	color: #111 !important;
}
.contact-details ul li {
	color: #F00 !important;
	padding-top: 0;
}
.contact-details i {
	margin-right: 10px;
	font-size: 22px;
}
.contact-section .contact-form .input-fields textarea{
	width: 100%;
	background-color: transparent;
	border: 1px solid #aaa !important;
	padding: 15px;
	border: none;
	color: #111111 !important;
}

.contact-section .contact-form input[type='submit']{
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	padding: 15px 30px;
	text-align: center;
	display: inline-block;
	outline: 0;
	border: 0px solid;
	width: 100%;
	background: #089EF5;
}


.contact-section .contact-form .input-fields input[type='submit']:hover{
	color: #ffffff;
	background-color: #d71921;
}



.contact-section{
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 100px 0;
	overflow: hidden;
}
.contact-section .contact-address {
    margin-bottom: 50px;
  } */

  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact .section-title {
    padding-bottom: 0;
  }

  #contact .text-success,
  #contact .text-danger {
    display: none;
  }

  #contact .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dddddd;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
  }

  #contact .form-control:hover,
  #contact .form-control:focus {
    border-bottom-color: #c9c9c9;
  }

  #contact input {
    height: 55px;
  }

  #contact button#cf-submit {
    background: #ce3232;
    border-radius: 0;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
  }

  #contact button#cf-submit:hover {
    background: #292929;
    color: #ffffff;
  }



  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

  footer {
    color: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0,0,0,0.05);
    padding: 120px 0;
    padding-bottom: 80px;
  }

  footer .section-title {
    padding-bottom: 10px;
  }

  footer h2 {
    font-size: 20px;
  }

  footer a,
  footer p {
    color: #909090;
  }

  footer strong {
    color: #d9d9d9;
  }

  footer address p {
    margin-bottom: 0;
  }

  .footer-info,
  footer .social-icon {
    margin-top: 20px;
  }

  .footer-open-hour {
    background: #ce3232;
    background: url('../images/footer-open-hour-bg.jpg') center center no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 0;
    padding: 40px 0 40px 80px;
    overflow: hidden;
    position: relative;
    z-index: 22;
    right: 20px;
    bottom: 20px;
  }

  .footer-open-hour::after {
    background: rgba(29,29,29,0.85);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2222;
  }

  .footer-open-hour h2 {
    color: #ffffff;
  }

  .footer-open-hour p {
    color: #d9d9d9;
  }

  .footer-open-hour strong {
    color: #f9f9f9;
  }



  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #ce3232;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
  }

  .social-icon li a:hover {
    background: #ce3232;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }


  @media only screen and (max-width: 1200px) {
    .about-info {
      padding-right: 0;
    }

    .about-image {
      position: relative;
    }
  }


  @media only screen and (max-width: 992px) {
    section {
      padding: 60px 0;
    }

    .custom-navbar .section-btn {
      margin-left: 1em;
    }

    .slider .item {
      background-position: center;
    }

    .about-info {
      padding: 0;
    }

    .team-info {
      margin-bottom: 50px;
    }

    #menu .menu-thumb {
      width: 103%;
    }

    #testimonial {
      background-position: 50% 0 !important;
    }

    #google-map,
    .footer-info {
      margin-bottom: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .nav li a {
      line-height: normal;
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .custom-navbar .navbar-nav.navbar-right .section-btn {
      display: block !important;
      width: 50%;
      margin: 10px auto 10px auto;
      padding: 10px;
    }

    .custom-navbar .section-btn a {
      color: #ffffff !important;
    }

    .slider .caption {
      padding: 0;
    }

    .menu-thumb .menu-info {
      top: 80%;
    }

    footer {
      padding: 60px 0;
      padding-bottom: 60px;
    }

    .footer-open-hour {
      right: 0;
      bottom: 0;
      margin-top: 30px;
    }
  }