
/*------------------------------------------------------------------
    service AREA
-------------------------------------------------------------------*/


/* .heading-29190 {
    /* font-family: 'nautilus_pompiliusregular';
    margin-left: 10em;
    font-size: 30px;
    color: red;
    font-weight: bold;
    line-height: 100px; */
    /* padding-bottom:25px;
    padding-top:100px; */
  /* } */
  .heading-29190:before, .heading-29190:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #000;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0; }
  .heading-29190:before {
    bottom: -6px;
    width: 80px; }

.service-29128 {
  background-color: #fff;
  padding: 20px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .service-29128:hover {
    -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2); }
  .service-29128 .wrap-icon {
    margin-bottom: 30px; }
    .service-29128 .wrap-icon > span {
      font-size: 30px; }
  .service-29128 h3 {
    font-size: 18px;
    margin-bottom: 20px; }

    .site-section {
      padding: 2.5em 0; }
      @media (min-width: 768px) {
        .site-section {
          padding: 5em 0; } }
      .site-section.site-section-sm {
        padding: 4em 0; }
/* 
.titre h1{
    font-family: 'nautilus_pompiliusregular';
    margin-left: 10em;
    font-size: 60px;
    color: red;
    font-weight: bold;
    line-height: 100px;
    padding-bottom:25px;
    padding-top:100px;
  }

.cards-list {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {

    
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif; 
    font-weight: bold;
     font-size: 30px;
    margin-top: -80px;
    height: 40px;
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
   box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card p{
    padding-block-start: 3em;
     text-align: center;
     border-radius: 0px 0px 40px 40px;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 30px;
    }
  
  
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  
   */
  /* @media (min-width: 768px) and (max-width: 980px)  {
    .card-list {
      On small screens, we are no longer using row direction but column
      flex-direction: column;
    }
  } */