

  section {
    position: relative;
    padding: 100px 0;
  }

  
 
  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial {
    background: url('../images/testimonial-bg.jpg') center center no-repeat;
    background-size: cover;
  }

  #testimonial .owl-dots {
    position: relative;
    top: 0;
    right: 0;
    justify-content: center;
  }

  #testimonial .owl-theme .owl-dots .owl-dot,
  #testimonial .owl-theme .owl-dots .owl-dot span {
    display: inline-block;
  }

  #testimonial .owl-theme .owl-dots .owl-dot span {
    margin: 20px 5px;
  }


  #testimonial p,
  .tst-author h4
   {
    display: inline;
  }

  .item {
    color: #d9d9d9;
    font-size: 20px;
    line-height: 35px;
  }

  .tst-author {
   text-align: center;
    margin-top: 20px;
  }

  .tst-author h4,
  .tst-author span {
    text-align: center;
    color: #b2b2b2;
  }

  .tst-author span {
    margin-left: 5px;
  }
 