.navbar-default .navbar-toggle .icon-bar{
	background-color: #d71921;
}
.main-menu .navbar-default .navbar-nav .active a{
	color: #d71921;
}
.main-menu nav li a::after {
    background: #d71921;
}
.typer{
	color: #d71921 !important;
}
.banner-text h2{
	color: #d71921
}

.footer-news form a{
	background: #d71921;
}
.footer-news form a:hover{
	border: 2px dotted #d71921;
}
.footer-box-a h3{
	color: #d71921;
}
.footer-box-b h3{
	color: #d71921;
}
.footer-box-c h3{
	color: #d71921;
}
.footer-box-d h3{
	color: #d71921;
}
.footer-box-c p a:hover{
	color: #d71921;
}
.footer-box-b ul li a:hover{
	color: #d71921;
}

.footer-box .socials-box a:hover .social-circle-border{
	color: #d71921;
}

.footer-box-c p i{
	color: #d71921;
}

.copyright-main{
	background: #d71921;
}

#color-panel a.panel-button:hover{
	color: #d71921;		
}