.teams-wrapper{
	text-align: center;
	position: relative;
	z-index: 5;
}

.teams-wrapper .comment-icon{
	font-size: 24px;
	color: #ffffff;
	text-align: center;
}

.teams{
	margin-top: 50px;
	overflow: hidden;
}

.teams p{
	font-size: 14px;
	margin-bottom: 20px;
}

.teams p.client-info{
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	color: #80cc0c;
}
#team {
    padding: 100px 0;
    background: #232323;
}
.teams-section{
	position: relative;
	padding: 10px 0 55px;
}


.teams-section span {
	font-size: 28px;
}


.teams-section h2 span{
    /* font-weight: 700; */
    font-size: 62px;
    color: #80cc0c;
    border-top: none;
    border-bottom: none;
    display: inline-block;
    padding: 8px 10px;
}

.teams-section p{
    color: #ffffff;
}


.footer-container p {
    color: #999;
}

.teams-slides img {
	margin-bottom: 20px;
	margin-top: 15px;
	width: 200px;
	height: 200px;
	border: 2px solid #fff;
}