
/*------------------------------------------------------------------
    IMPORT FONTS
-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Paprika');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');




/*------------------------------------------------------------------
    SKELETON
-------------------------------------------------------------------*/
@font-face {
    font-family: 'nautilus_pompiliusregular';
    src: url('../fonts/nautilus-webfont.woff2') format('woff2'),
         url('../fonts/nautilus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
	color:#686868;
	font-size:14px;
	font-family: 'Roboto', sans-serif;
	line-height:1.80857;
}

ul, li, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}

a {
    color: #1f1f1f;
    text-decoration: none;
    outline: none !important;
}

html, body{ height: 100%; }



a {
  text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #1f1f1f;
    margin: 0
}

/*==================
 HEADER SECTION
====================*/

#header{}
.logo{
	float:left;
}
#mu-header {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 999;
}

/*==================
 NAVBAR SECTION
====================*/
.main-menu{}
#mu-header .navbar-brand {
  height: 3em;
  margin-top: 0em;
}.mu-main-navbar {
  background-color: transparent;
  border: none;
  padding: 25px 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .mu-main-nav {
  font-family: 'Roboto', sans-serif;
}
.mu-main-navbar .mu-main-nav li a {
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .mu-main-nav li a{
	/* padding: 43px 0px 15px; */
	/* margin: 0 14px; */
	color: #fff;
	font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.6px;
	position:relative;
	-webkit-transition: color 0.4s;
    transition: color 0.4s;
    font-weight: 500;
    font-size: 14px;
}
.mu-main-navbar .mu-main-nav .dropdown-menu li a {
  padding: 10px 20px;
}
.mu-main-navbar .navbar-header .navbar-brand {
  padding: 0;
  margin-top: 8px;
  height: 34px;
  width: 145px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-main-navbar .navbar-header .navbar-brand img {
  width: 100%;
  height: 100%;
}
.mu-main-navbar .navbar-header .navbar-brand-small {
  height: 20px;
  margin-top: 16px;
  width: 105px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}





/*==================
 BLOG PAGE
====================*/
#mu-blog-banner {
  background-attachment: fixed;
  background: url("../img/testi.jpg");
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#mu-blog-banner:before {
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
#mu-blog-banner .mu-blog-banner-area {
  display: inline;
  float: left;
  min-height: 350px;
  padding: 12% 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 99;
}
#mu-blog-banner .mu-blog-banner-area h2 {
  color: #fff;
}
#mu-blog-banner .mu-blog-banner-area .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0px;
}
#mu-blog-banner .mu-blog-banner-area .breadcrumb li a {
  color: #fff;
}

#mu-blog {
  background-color: #f8f8f8;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
#mu-blog .mu-blog-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-content {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-content .mu-news-single {
  margin-bottom: 30px;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination {
  display: inline-block;
  text-align: left;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li {
  display: inline-block;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a {
  border: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a:hover, #mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:first-child a:focus {
  background-color: #FFF;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a {
  border: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a:hover, #mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li:last-child a:focus {
  background-color: #FFF;
}
#mu-blog .mu-blog-area .mu-blog-pagination-area .mu-blog-pagination li a {
  display: inline-block;
  padding: 5px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar {
  display: inline;
  float: left;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single {
  background-color: #fff;
  border: 1px solid #ccc;
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 10px 20px 20px;
  width: 100%;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single h3 {
  margin-bottom: 20px;
  position: relative;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single h3:after {
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li {
  border-bottom: 1px dashed #ccc;
  color: #555;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li:last-child {
  border-bottom: none;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-catg-nav > li a {
  color: #000;
  letter-spacing: 0.5px;
  display: block;
  padding: 10px 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li {
  border-bottom: 1px solid #ccc;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li:last-child {
  border-bottom: none;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-recent-news-nav li a {
  color: #000;
  letter-spacing: 0.5px;
  display: inline-block;
  line-height: 20px;
  padding: 10px 0;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 15px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .tag-cloud a {
  color: #000;
  display: inline-block;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add {
  display: block;
  margin-top: 10px;
}
#mu-blog .mu-blog-area .mu-blog-sidebar .mu-blog-sidebar-single .mu-sidebar-add img {
  max-width: 100%;
}

.mu-blog-details .mu-news-single > h2 {
  font-size: 28px;
  padding: 15px 20px;
}
.mu-blog-details .mu-news-single > h2 a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-details .mu-news-single .mu-news-single-content .mu-meta-nav {
  margin-left: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content .mu-meta-nav li {
  margin-bottom: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content h3 {
  text-align: left;
  padding: 0;
}
.mu-blog-details .mu-news-single .mu-news-single-content p {
  text-align: left;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote {
  background-color: #F8F8F8;
  margin-top: 20px;
  padding: 20px 25px;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote p {
  letter-spacing: 0.5px;
}
.mu-blog-details .mu-news-single .mu-news-single-content blockquote cite {
  font-style: normal;
  font-size: 14px;
}
.mu-blog-details .mu-news-single .mu-news-single-content ul {
  margin-left: 25px;
}
.mu-blog-details .mu-news-single .mu-news-single-content ul li {
  letter-spacing: 0.5px;
  line-height: 24px;
  list-style: outside none disc;
  margin-bottom: 5px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom {
  display: inline;
  float: left;
  padding: 0 0 25px;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li:first-child {
  font-size: 16px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-tag .mu-news-single-tagnav li a {
  display: inline-block;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li {
  display: inline-block;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li:first-child {
  font-size: 16px;
}
.mu-blog-details .mu-news-single .mu-news-single-bottom .mu-news-single-social .mu-news-single-socialnav li a {
  color: #888;
  display: inline-block;
  padding: 5px 8px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.mu-blog-single-navigation {
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding: 20px 0;
  width: 100%;
}
.mu-blog-single-navigation a {
  border: 1px solid #ccc;
  color: #ccc;
  display: inline-block;
  font-size: 25px;
  font-weight: normal;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-blog-single-navigation a:hover, .mu-blog-single-navigation a:focus {
  background-color: #fff;
}
.mu-blog-single-navigation .mu-blog-prev {
  float: left;
}
.mu-blog-single-navigation .mu-blog-next {
  float: right;
}

.mu-blog-related-post {
  display: inline;
  float: left;
  width: 100%;
}
.mu-blog-related-post .mu-blog-related-post-area {
  display: inline;
  float: left;
  width: 100%;
}

 /*------------------------------------------------------------------ testemonials form -------------------------------------------------------------------*/




/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: OpenSans-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: OpenSans-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}


input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Contact ]*/

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
}

.container-contact100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(173,173,173,0.4);
  pointer-events: none;
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 800px;
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin-top: 55px;
  padding: 92px 70px 88px 70px;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}


.contact100-form-symbol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  background: #fff;
  top: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.contact100-form-symbol img {
  max-width: 49px;
}


/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 43px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-bottom: 30px;
}

.wrap-input100.rs1 {
  width: calc((100% - 20px) / 2);
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: OpenSans-Regular;
  color: #333333;
  line-height: 1.2;
}

input.input100 {
  height: 60px;
  padding: 0 20px 0 25px;
  font-size: 20px;
}

textarea.input100 {
  min-height: 199px;
  padding: 25px 20px 15px 25px;
  font-size: 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #d71921;
  border-radius: 2px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: -10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #d71921;
  border-radius: 2px;

  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background-color: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 768px) {
  .wrap-input100.rs1 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 92px 15px 88px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #d71921;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: OpenSans-Regular;
  color: #d71921;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #d71921;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}





 /*------------------------------------------------------------------
      FOOTER AREA
  -------------------------------------------------------------------*/
  #footer{
    background:#E6E6E6;
  }
  .footer-logo{
    padding-bottom:40px;
  }
  
  
/* .footer-main{
 background:#E6E6E6;
	background-attachment:fixed;
	background-size:cover;
	position:relative;
} */

.footer-news::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.10);
    position: absolute;
    top: 0;
    left: 0;
}


.ft-title {
  color:#d71921 ;
    letter-spacing: 0.96px;
    margin-bottom: 22px;
    font-family: 'nautilus_pompiliusregular';
	font-size: 52px;
}

.footer-news p {
    margin-bottom: 40px;
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color:black;
	text-align:center;
}


.footer-box{
	background:#202020;
}

  .footer-socials {
    color: #d71921;
      margin: 10px 0;
      line-height: 30px;
      padding: 4px;
      text-align: center;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  .socials-box {
    color: #d71921;
      display: table-cell;
      vertical-align: middle;
      margin: 1px 0px;
      padding: 4px;
  }
  .footer-box {
    background-image:-moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(..images/footer_background.jpg);
    background-image:-webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
    background-image:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.57) 0%,rgba(0, 0, 0, 0.87) 100%), url(../images/footer_background.jpg);
    background-color:#111;background-position:center;background-repeat:no-repeat;background-size:cover
    }
  .socials-box li {
      display: inline-block;
      opacity: 1;
      margin-right: 7px;
  }
  .footer-box .social-circle-border{
    background-color: transparent;
    color: #d71921;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .social-circle-border {
      font-size: 20px;
      line-height: 23px;
      margin-right: 2px;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: transparent;
      color: #d71921;
      text-align: center;
  }
  
  
  .footer-box h3{
    color:#d71921 ;
    font-size:24px;
      font-family: 'nautilus_pompiliusregular';
  }
  .footer-box-a p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
    line-height: 25px;
  }
  
  
 
  .footer-box-b p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
  }
  .footer-box-b ul li{
    line-height:30px;
  }
  .footer-box-b ul li a{
    width: 12em;
    /* margin-left: 0em; */
    background: #d71921;
    color: #fff;
    font-weight: bold;
    padding: 9.5px 50px;
    display: inline-block;
    text-align: center;
  }
  
  .footer-box-b ul li a:hover{
    background: #292929;
    color: #ffffff;
  }	
  
 
  .footer-box-c p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
  }
  
  
  .footer-box-c p i{
    color: #d71921;
    font-size: 20px;
      position: relative;
      top: 4px;
      float: left;
      min-width: 20px;
      text-align: center;
  }
  
  .footer-box-c p span{
    display: table;
      padding-left: 12px;
    padding-top:1px;
  }
  
  .footer-box-c p a{
    color:#ffffff;
  }
  
  
  
  .footer-box-d h3{
    font-size:24px;
      font-family: 'nautilus_pompiliusregular';
  }
  .footer-box-d p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:#ffffff;
  }
  
  .footer-box-d ul{
    margin:0px;
    padding:0px;
    list-style:none;
  }
  .footer-box-d ul li{
    display: inline-block;
      width: 100%;
    padding-bottom:12px;
  }
  .footer-box-d ul li p{
    padding:0px;
    margin:0px;
  }
  .footer-box-d ul li span{
    color: #666;
  }
  
  /*------------------------------------------------------------------
      COPYRIGHT AREA
  -------------------------------------------------------------------*/
  
  .copyright-main{
    border-top: 2px dotted #fff;
    text-align:center;
    padding-top:25px;
    margin-top:70px;
    padding-bottom:25px;
  }
  
  .copyright-main .copy-title{
    letter-spacing: 1px;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    padding-bottom:0px;
  }

